* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-blue: #4d68c2;
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --primary: #084c61;
  --gray-1: #fafaf9;
  --gray-2: #e7e5e4;
  --gray-3: #292524;
  --gray-m: #78716c;
  --accent: #fa3a6d;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidebar header" "sidebar content";
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* HEADER */
header {
  grid-area: header;
  padding: 1.5rem 3rem;
  background-color: var(--gray-1);
  box-shadow: var(--shadow-lg);
  color: var(--gray-3);
  z-index: 2;
}

/* HEADER TOP*/
.top {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5rem;
}

/* HEADER TOP SEARCH */
.search {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
}

.search > label > span {
  font-size: 1.9rem;
}

.search input {
  border: none;
  border-radius: 15px;
  background-color: var(--gray-2);
  width: min(70%, 650px);
  outline-color: var(--primary);
  padding: 0.75rem 1.5rem;
  margin-left: 1.25rem;
}

/* HEADER TOP ACCOUNT */
.account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
}

.accountPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-blue);
  margin: 0 1.2rem 0 2rem;
}

/* HEADER BOTTOM */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER BOTTOM PROFILE */
.profile {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.profilePicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-blue);
  margin-right: 1.2rem;  
}

.profileName .greeting {
  margin-bottom: 0.4rem;
}

.profileName .name {
  font-size: 1.8rem;
}

/* HEADER PROFILE BUTTONS */
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.8rem;
}

.buttons .btn {
  background-color: var(--primary);
  color: var(--gray-1);
  font-size: 16px;
  font-weight: bold;
  padding: 0.75em 2.3em;
  border-radius: 99em;
}

/* ASIDE */
.sidebar {
  background-color: var(--primary);
  color: var(--gray-1);
  grid-area: sidebar;
  padding: 1.8rem;
}

.sidebarTitle {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.sidebarTitle span {
  font-size: 2.2rem;
  margin-right: 1rem;
}

/* ASIDE NAV */
.nav {
  display: grid;
  margin-top: 3.2rem;
  gap: 1rem;
  font-size: 1.4rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* MAIN CONTENT */
.content {
  background-color: var(--gray-2);
  grid-area: content;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
  grid-template-areas: 
    "projects announcements" 
    "projects trending";
  overflow: auto;
}

.content h2 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.card {
  background-color: var(--gray-1);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.cardText {
  color: var(--gray-m);
}

.projects {
  grid-area: projects;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 2rem;
  padding-bottom: 2rem;
}

.projects .card {
  display: flex;
  flex-direction: column;
  border-left: 10px solid #2799b6;
  border-radius: 10px;
}

.projects .cardTitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.projects .projectsText {
  overflow: hidden;
}

.actions {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.actions span {
  font-size: 1.75rem;
  cursor: pointer;
}

/* ANNOUNCEMENTS */
.announcements {
  grid-area: announcements;
}

.announcement {
  width: 25ch;
  padding: 1rem;
}
.announcement:first-child {
  padding-top: 0;
}
.announcement:last-child {
  padding-bottom: 0;
}

.announcement {
  border-top: 1px solid var(--gray-m);
}
.announcement:first-child {
  border: none;
}

.announcement h5 {
  font-size: 0.9rem;
  margin-bottom: 0.25em;
}

.announcement p {
  font-size: 0.8rem;
  overflow: hidden;
}

/* TRENDING */
.trending {
  grid-area: trending;
}

.trending .card {
  padding: 1.5rem;
}

.trend {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin: 20px 0;
}
.trend:first-child {
  margin-top: 0;
}
.trend:last-child {
  margin-bottom: 0;
}

.trend .picture {
  background-color: var(--accent);
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.trend .account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.9rem;
}

.trend .username {
  font-weight: 500;
  margin-bottom: 0.15rem;
}

#trend1 .picture {
  background-color: var(--accent);
}
#trend2 .picture {
  background-color: #5bb90e;
}
#trend3 .picture {
  background-color: #0e4ab9;
}